@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.app-bar {
    width: 100%;
    font-size: 25px;
    padding: 10px 15px;
    color: whitesmoke;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}