.components {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 85vh;
}

.footer {
    color: white;
    padding: 20px;
}

.footer a {
    text-decoration: none;
    color: white;
}